body {
    background-color: blue;
    width: 100vw;
    height: 100vh;
    font-size: 30px;

}
h1 {
    text-align: center;
    color: white;

}
div {
    width: 600px;
    height: 400px;
    background-color: #d4cfcf;
    padding: 20px;
    color: green;
    margin: auto;
}